.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  background-color: #ebc934;
}

.nav-brand {
  color: black;
  font-size: 25px;
  font-family: "Roboto Medium", serif;
}

.nav-link {
  color: #282c34;
}

.nav-link:hover {
  color: rgba(40, 44, 52, 0.2);
}

.nav-buttons {
  background-color: #ebc934;
  border-color: white;
  border-radius: 5px;
  border-width: thin;
}

.nav-buttons:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: white;
  color: #282c34;
}
