// change the theme
$theme-colors: (
        "primary": #ebc934,
        "secondary": #efefef,
        "danger": #ff4136
);

$sidebar-bg-color: linear-gradient(45deg, rgba(234,125,16,1) 0%, rgba(235,201,52,1) 50%);
$highlight-color: #efefef;
$icon-bg-color: #ebc934;
$submenu-bg-color: #ebc934;
$submenu-bg-color-collapsed: #efefef;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import '~react-pro-sidebar/dist/scss/styles.scss';
